@font-face {
    font-family: 'Digital';
    src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot');
    src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix')
        format('embedded-opentype'),
        url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2')
        format('woff2'),
        url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff')
        format('woff'),
        url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf')
        format('truetype'),
        url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7')
        format('svg');
}

$digit-color: #4d4d4d;
$math-color: #666666;
$ac-color: #ac3939;
$equals-color: #004466;

.Calculator {
    position: relative;
    background-color: black;
    border: 2px solid #777;
    padding: 10px;
    width: 320px;
}

.screen-top {
    min-height: 20px;
    font-size: 20px;
    font-family: digital;
    color: orange;
    text-align: right;
    line-height: 20px;
    word-wrap: break-word;
}

.screen-main {
    font-size: 30px;
    font-family: digital;
    color: white;
    text-align: right;
    line-height: 40px;
}

.calcKeysContainer {
    display: grid;
    gap: 1px;
    grid-template-columns: auto repeat(3,80px);
    grid-auto-rows: 65px;
}

.calcKey {
    position: relative;
    background-color: $digit-color;
    border: none;
    outline: 1px solid black;
    cursor: default;
    font-size: 20px;
    color: white;
    font-family: monospace;
}

.calcKey:hover {
    outline: 1px solid #777;
    z-index: 1;
    color: black;
}

.calcKeyMath {
    background-color: $math-color;
}

.calcKeyAC {
    background-color: $ac-color;
}

.calcKeyEquals {
    background-color: $equals-color;
}

.calcKeyWide {
    grid-column: 1/3;
}

.calcKeyTall {
    grid-row: 4/6;
    grid-column: 4/5;
}